<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <stores>
        <german>
            <byjunocheckoutsettings>
                <localization>
                    <byjuno_invoice_payments>invoice_byjuno_enable,Byjuno Rechnung mit Teilzahlungsoption,Byjuno
                        Einmalrechnung,http://byjuno.ch/de/terms,http://byjuno.ch/de/terms
                    </byjuno_invoice_payments>
                    <byjuno_installment_payments>3 Raten,10 Raten,12 Raten,24 Raten,4 Raten innerhalb von 12
                        Monaten,N/A,http://byjuno.ch/de/terms,http://byjuno.ch/en/terms,http://byjuno.ch/de/terms,http://byjuno.ch/de/terms,http://byjuno.ch/de/terms,N/A
                    </byjuno_installment_payments>
                    <byjuno_installment_toc_string>AGB</byjuno_installment_toc_string>
                    <byjuno_installment_payment_message>Bitte wählen Sie die Zahlungsart und akzeptieren Sie die Allgemeinen
                        Geschäftsbedingungen
                    </byjuno_installment_payment_message>
                    <byjuno_fail_message>Der Anbieter dieser Zahlungsart hat die gewählte Bezahlmethode abgelehnt. Bitte
                        wählen Sie eine andere Zahlungsart.
                    </byjuno_fail_message>
                    <byjuno_invoice_toc_string>AGB</byjuno_invoice_toc_string>
                    <byjuno_invoice_payment_message>Bitte wählen Sie die Zahlungsart und akzeptieren Sie die Allgemeinen
                        Geschäftsbedingungen
                    </byjuno_invoice_payment_message>
                    <byjuno_invoice_postal_text>Rechnungsversand in Papierform via Post (gegen Gebühr von CHF 3.50) an
                    </byjuno_invoice_postal_text>
                    <byjuno_invoice_email_text>Rechnungsversand via E-Mail (ohne Gebühr) an</byjuno_invoice_email_text>
                    <byjuno_installment_postal_text>Rechnungsversand in Papierform via Post (gegen Gebühr von CHF 3.50 pro
                        Rate) an
                    </byjuno_installment_postal_text>
                    <byjuno_installment_email_text>Rechnungsversand via E-Mail (ohne Gebühr) an
                    </byjuno_installment_email_text>
                    <byjuno_s4_fail>Das Senden der Rechnung an Byjuno ist fehlgeschlagen. Die Rechnung wurde nicht
                        generiert. Bitte versuchen Sie es erneut.
                    </byjuno_s4_fail>
                    <byjuno_s5_fail>Das Senden der Bestelländerung an Byjuno ist fehlgeschlagen. Storno/Rückerstattung
                        konnte nicht durchgeführt werden. Bitte versuchen Sie es erneut.
                    </byjuno_s5_fail>
                    <postal_code_wrong>Die PLZ der Rechnungsadresse ist fehlerhaft</postal_code_wrong>
                    <telephone_code_wrong>Die Telefonnummer der Rechnungsadresse ist fehlerhaft</telephone_code_wrong>
                </localization>
            </byjunocheckoutsettings>
            <byjunoinvoicesettings>
                <byjuno_invoice_setup>
                    <title_invoice>Byjuno Rechnung</title_invoice>
                </byjuno_invoice_setup>
                <byjuno_invoice_partial>
                    <name>Byjuno Rechnung mit Teilzahlungsoption</name>
                    <link>http://byjuno.ch/de/terms</link>
                </byjuno_invoice_partial>
                <byjuno_single_invoice>
                    <name>Byjuno Einmalrechnung</name>
                    <link>http://byjuno.ch/de/terms</link>
                </byjuno_single_invoice>
                <byjuno_invoice_localization>
                    <byjuno_invoice_toc_string>AGB</byjuno_invoice_toc_string>
                    <byjuno_invoice_payment_message>Bitte wählen Sie die Zahlungsart und akzeptieren Sie die Allgemeinen Geschäftsbedingungen</byjuno_invoice_payment_message>
                    <byjuno_invoice_postal_text>Rechnungsversand in Papierform via Post  (gegen Gebühr von CHF 3.50) an</byjuno_invoice_postal_text>
                    <byjuno_invoice_email_text>Rechnungsversand via E-Mail (ohne Gebühr) an</byjuno_invoice_email_text>
                </byjuno_invoice_localization>
            </byjunoinvoicesettings>
            <byjunoinstallmentsettings>
                <byjuno_installment_setup>
                    <title_installment>Byjuno Ratenzahlung</title_installment>
                    <sort_order_installment>2</sort_order_installment>
                </byjuno_installment_setup>
                <byjuno_installment_3installment>
                    <name>3 Raten</name>
                    <link>http://byjuno.ch/de/terms</link>
                </byjuno_installment_3installment>
                <byjuno_installment_10installment>
                    <name>10 Raten</name>
                    <link>http://byjuno.ch/de/terms</link>
                </byjuno_installment_10installment>
                <byjuno_installment_12installment>
                    <name>12 Raten</name>
                    <link>http://byjuno.ch/de/terms</link>
                </byjuno_installment_12installment>
                <byjuno_installment_24installment>
                    <name>24 Raten</name>
                    <link>http://byjuno.ch/de/terms</link>
                </byjuno_installment_24installment>
                <byjuno_installment_4x12installment>
                    <name>4 Raten innerhalb von 12 Monaten</name>
                    <link>http://byjuno.ch/de/terms</link>
                </byjuno_installment_4x12installment>
                <byjuno_installment_localization>
                    <byjuno_installment_toc_string>AGB</byjuno_installment_toc_string>
                    <byjuno_installment_payment_message>Bitte wählen Sie die Zahlungsart und akzeptieren Sie die Allgemeinen Geschäftsbedingungen</byjuno_installment_payment_message>
                    <byjuno_installment_postal_text>Rechnungsversand in Papierform via Post (gegen Gebühr von CHF 3.50) an</byjuno_installment_postal_text>
                    <byjuno_installment_email_text>Rechnungsversand via E-Mail (ohne Gebühr) an</byjuno_installment_email_text>
                </byjuno_installment_localization>
            </byjunoinstallmentsettings>
        </german>
        <french>
            <byjunocheckoutsettings>
                <localization>
                    <byjuno_invoice_payments>invoice_byjuno_enable,Byjuno Facture avec option de paiement partiel,Byjuno
                        facture unique,http://byjuno.ch/fr/terms,http://byjuno.ch/fr/terms
                    </byjuno_invoice_payments>
                    <byjuno_installment_payments>3 tranches,10 tranches,12 tranches,24 tranches,4 tranches dans 12
                        mois,N/A,http://byjuno.ch/fr/terms,http://byjuno.ch/fr/terms,http://byjuno.ch/fr/terms,http://byjuno.ch/fr/terms,http://byjuno.ch/fr/terms,N/A
                    </byjuno_installment_payments>

                    <byjuno_installment_toc_string>CGV</byjuno_installment_toc_string>
                    <byjuno_installment_payment_message>Veuillez choisir le type de paiement et accepter les conditions
                        générales
                    </byjuno_installment_payment_message>
                    <byjuno_fail_message>Le prestataire de ce type de paiement a rejeté la méthode de paiement choisie.
                        Veuillez choisir un autre mode de paiement.
                    </byjuno_fail_message>
                    <byjuno_invoice_toc_string>CGV</byjuno_invoice_toc_string>
                    <byjuno_invoice_payment_message>Veuillez choisir le type de paiement et accepter les conditions
                        générales
                    </byjuno_invoice_payment_message>
                    <byjuno_invoice_postal_text>Expédition facture sous forme papier (au prix de CHF 3.50) à
                    </byjuno_invoice_postal_text>
                    <byjuno_invoice_email_text>Expédition facture via e-mail (sans frais) à</byjuno_invoice_email_text>
                    <byjuno_installment_postal_text>Expédition facture sous forme papier (au prix de CHF 3.50 par tranche)
                        à
                    </byjuno_installment_postal_text>
                    <byjuno_installment_email_text>Expédition facture via e-mail (sans frais) à
                    </byjuno_installment_email_text>
                    <byjuno_s4_fail>La transmission de la facture à Byjuno a échoué. La facture n’a pas été produite,
                        veuillez essayer à nouveau.
                    </byjuno_s4_fail>
                    <byjuno_s5_fail>La transmission de la commande modifiée a échoué. L’annulation/le remboursement n’a pas
                        pu être exécuté. Veuillez essayer à nouveau.
                    </byjuno_s5_fail>
                    <postal_code_wrong>Le code postal de l’adresse de facturation est défectueux</postal_code_wrong>
                    <telephone_code_wrong>Le numéro du téléphone de l’adresse de facturation est défectueux
                    </telephone_code_wrong>
                </localization>
            </byjunocheckoutsettings>
            <byjunoinvoicesettings>
                <byjuno_invoice_setup>
                    <title_invoice>Facture Byjuno</title_invoice>
                </byjuno_invoice_setup>
                <byjuno_invoice_partial>
                    <name>Byjuno Facture avec option de paiement partiel</name>
                    <link>http://byjuno.ch/fr/terms</link>
                </byjuno_invoice_partial>
                <byjuno_single_invoice>
                    <name>Byjuno facture unique</name>
                    <link>http://byjuno.ch/fr/terms</link>
                </byjuno_single_invoice>
                <byjuno_invoice_localization>
                    <byjuno_invoice_toc_string>CGV</byjuno_invoice_toc_string>
                    <byjuno_invoice_payment_message>Veuillez choisir le type de paiement et accepter les conditions générales</byjuno_invoice_payment_message>
                    <byjuno_invoice_postal_text>Expédition facture sous forme papier (au prix de CHF 3.50) à</byjuno_invoice_postal_text>
                    <byjuno_invoice_email_text>Expédition facture via e-mail (sans frais) à</byjuno_invoice_email_text>
                </byjuno_invoice_localization>
            </byjunoinvoicesettings>
            <byjunoinstallmentsettings>
                <byjuno_installment_setup>
                    <title_installment>Byjuno Paiement échelonné</title_installment>
                    <sort_order_installment>2</sort_order_installment>
                </byjuno_installment_setup>
                <byjuno_installment_3installment>
                    <name>3 tranches</name>
                    <link>http://byjuno.ch/fr/terms</link>
                </byjuno_installment_3installment>
                <byjuno_installment_10installment>
                    <name>10 tranches</name>
                    <link>http://byjuno.ch/fr/terms</link>
                </byjuno_installment_10installment>
                <byjuno_installment_12installment>
                    <name>12 tranches</name>
                    <link>http://byjuno.ch/fr/terms</link>
                </byjuno_installment_12installment>
                <byjuno_installment_24installment>
                    <name>24 tranches</name>
                    <link>http://byjuno.ch/fr/terms</link>
                </byjuno_installment_24installment>
                <byjuno_installment_4x12installment>
                    <name>4 tranches dans 12 mois</name>
                    <link>http://byjuno.ch/fr/terms</link>
                </byjuno_installment_4x12installment>
                <byjuno_installment_localization>
                    <byjuno_installment_toc_string>CGV</byjuno_installment_toc_string>
                    <byjuno_installment_payment_message>Veuillez choisir le type de paiement et accepter les conditions générales</byjuno_installment_payment_message>
                    <byjuno_installment_postal_text>Expédition facture sous forme papier (au prix de CHF 3.50 par tranche) à</byjuno_installment_postal_text>
                    <byjuno_installment_email_text>byjuno_installment_email_text</byjuno_installment_email_text>
                </byjuno_installment_localization>
            </byjunoinstallmentsettings>
        </french>
        <italian>
            <byjunocheckoutsettings>
                <localization>
                    <byjuno_invoice_payments>invoice_byjuno_enable,Byjuno fattura con opzione di pagamento parziale,Byjuno
                        fattura singola,http://byjuno.ch/it/terms,http://byjuno.ch/it/terms
                    </byjuno_invoice_payments>
                    <byjuno_installment_payments>3 rate,10 rate,12 rate,24 rate,4 rate in 12
                        mesi,N/A,http://byjuno.ch/it/terms,http://byjuno.ch/it/terms,http://byjuno.ch/it/terms,http://byjuno.ch/it/terms,http://byjuno.ch/it/terms,N/A
                    </byjuno_installment_payments>

                    <title_installment>Byjuno Pagamento rateale</title_installment>
                    <byjuno_installment_toc_string>CGC</byjuno_installment_toc_string>
                    <byjuno_installment_payment_message>La preghiamo di scegliere la modalità di pagamento e di accettare le
                        condizioni generali di contratto
                    </byjuno_installment_payment_message>
                    <byjuno_fail_message>L’operatore del servizio di pagamento ha rifiutato la modalità di pagamento da Lei
                        scelta. La preghiamo di scegliere un’altra modalità di pagamento.
                    </byjuno_fail_message>
                    <byjuno_invoice_toc_string>CGC</byjuno_invoice_toc_string>
                    <byjuno_invoice_payment_message>La preghiamo di scegliere la modalità di pagamento e di accettare le
                        condizioni generali di contratto
                    </byjuno_invoice_payment_message>
                    <byjuno_invoice_postal_text>Invio fattura cartacea tramite posta (spese aggiuntive di CHF 3.50)
                        all’indirizzo
                    </byjuno_invoice_postal_text>
                    <byjuno_invoice_email_text>Invio fattura tramite e-mail (senza spese aggiuntive) all’indirizzo
                    </byjuno_invoice_email_text>
                    <byjuno_installment_postal_text>Invio fattura cartacea tramite posta (spese aggiuntive di CHF 3.50 per
                        ogni rata) all’indirizzo
                    </byjuno_installment_postal_text>
                    <byjuno_installment_email_text>Invio fattura tramite e-mail (senza spese aggiuntive) all’indirizzo
                    </byjuno_installment_email_text>
                    <byjuno_s4_fail>La trasmissione della fattura a Byjuno non é riuscita. La fattura non é stata generata.
                        La preghiamo di riprovare.
                    </byjuno_s4_fail>
                    <byjuno_s5_fail>La trasmissione della modifica dell’ordine non é riuscita. Storno/Rimborso non é stato
                        eseguito. La preghiamo di riprovare.
                    </byjuno_s5_fail>
                    <postal_code_wrong>Il CAP dell’indirizzo di fatturazione è difettoso</postal_code_wrong>
                    <telephone_code_wrong>Il numero di telefono dell’indirizzo di fatturazione è difettoso
                    </telephone_code_wrong>
                </localization>
            </byjunocheckoutsettings>
            <byjunoinvoicesettings>
                <byjuno_invoice_setup>
                    <title_invoice>Fattura Byjuno</title_invoice>
                </byjuno_invoice_setup>
                <byjuno_invoice_partial>
                    <name>Byjuno fattura con opzione di pagamento parziale</name>
                    <link>http://byjuno.ch/it/terms</link>
                </byjuno_invoice_partial>
                <byjuno_single_invoice>
                    <name>Byjuno fattura singola</name>
                    <link>http://byjuno.ch/it/terms</link>
                </byjuno_single_invoice>
                <byjuno_invoice_localization>
                    <byjuno_invoice_toc_string>CGC</byjuno_invoice_toc_string>
                    <byjuno_invoice_payment_message>La preghiamo di scegliere la modalità di pagamento e di accettare le condizioni generali di contratto</byjuno_invoice_payment_message>
                    <byjuno_invoice_postal_text>Invio fattura cartacea tramite posta (spese aggiuntive di CHF 3.50) all’indirizzo</byjuno_invoice_postal_text>
                    <byjuno_invoice_email_text>Invio fattura tramite e-mail (senza spese aggiuntive) all’indirizzo</byjuno_invoice_email_text>
                </byjuno_invoice_localization>
            </byjunoinvoicesettings>
            <byjunoinstallmentsettings>
                <byjuno_installment_setup>
                    <title_installment>Byjuno Pagamento rateale</title_installment>
                    <sort_order_installment>2</sort_order_installment>
                </byjuno_installment_setup>
                <byjuno_installment_3installment>
                    <name>3 Raten</name>
                    <link>http://byjuno.ch/de/terms</link>
                </byjuno_installment_3installment>
                <byjuno_installment_10installment>
                    <name>10 Raten</name>
                    <link>http://byjuno.ch/de/terms</link>
                </byjuno_installment_10installment>
                <byjuno_installment_12installment>
                    <name>12 Raten</name>
                    <link>http://byjuno.ch/de/terms</link>
                </byjuno_installment_12installment>
                <byjuno_installment_24installmentoice_partial>
                    <name>24 Raten</name>
                    <link>http://byjuno.ch/de/terms</link>
                </byjuno_installment_24installmentoice_partial>
                <byjuno_installment_4x12installment>
                    <name>4 Raten innerhalb von 12 Monaten</name>
                    <link>http://byjuno.ch/de/terms</link>
                </byjuno_installment_4x12installment>
                <byjuno_installment_localization>
                    <byjuno_installment_toc_string>CGC</byjuno_installment_toc_string>
                    <byjuno_installment_payment_message>La preghiamo di scegliere la modalità di pagamento e di accettare le condizioni generali di contratto</byjuno_installment_payment_message>
                    <byjuno_installment_postal_text>Invio fattura cartacea tramite posta (spese aggiuntive di CHF 3.50 per ogni rata) all’indirizzo</byjuno_installment_postal_text>
                    <byjuno_installment_email_text>Invio fattura tramite e-mail (senza spese aggiuntive) all’indirizzo</byjuno_installment_email_text>
                </byjuno_installment_localization>
            </byjunoinstallmentsettings>
        </italian>
        <english>
            <byjunocheckoutsettings>
                <localization>
                    <byjuno_invoice_payments>invoice_byjuno_enable,Byjuno Invoice (with partial payment option),Byjuno
                        Single Invoice,http://byjuno.ch/en/terms,http://byjuno.ch/en/terms
                    </byjuno_invoice_payments>
                    <byjuno_installment_payments>3 Installments,10 installments,12 installments,24 installments,4
                        installments in 12
                        months,N/A,http://byjuno.ch/en/terms,http://byjuno.ch/en/terms,http://byjuno.ch/en/terms,http://byjuno.ch/en/terms,http://byjuno.ch/en/terms,N/A
                    </byjuno_installment_payments>
                    <title_invoice>Byjuno INVOICE</title_invoice>
                    <title_installment>Byjuno INSTALLMENT</title_installment>
                    <byjuno_installment_toc_string>T&amp;C</byjuno_installment_toc_string>
                    <byjuno_installment_payment_message>Please select payment option and agree to Terms and Conditions
                    </byjuno_installment_payment_message>
                    <byjuno_fail_message>Payment Method Provider have refused selected payment method, please select
                        different payment method.
                    </byjuno_fail_message>
                    <byjuno_invoice_toc_string>T&amp;C</byjuno_invoice_toc_string>
                    <byjuno_invoice_payment_message>Please select payment option and agree to Terms and Conditions
                    </byjuno_invoice_payment_message>
                    <byjuno_invoice_postal_text>Invoice Delivery method by Post (postage fee 3.50 CHF) to
                    </byjuno_invoice_postal_text>
                    <byjuno_invoice_email_text>Invoice Delivery method by E-Mail (no fees) to</byjuno_invoice_email_text>
                    <byjuno_installment_postal_text>Installments Delivery method by Post (postage fee 3.50 CHF for each
                        installment) to
                    </byjuno_installment_postal_text>
                    <byjuno_installment_email_text>Installments Delivery method by E-Mail (no fees) to
                    </byjuno_installment_email_text>
                    <byjuno_s4_fail>The invoice transfer to Byjuno failed; the invoice could not be generated, please
                        retry.
                    </byjuno_s4_fail>
                    <byjuno_s5_fail>The transfer of the updated order to Byjuno failed; Cancel/Refund could not be
                        completed, please retry.
                    </byjuno_s5_fail>
                    <postal_code_wrong>Postal code of billing address is incorrect</postal_code_wrong>
                    <telephone_code_wrong>Telephone of billing address is incorrect</telephone_code_wrong>
                </localization>
            </byjunocheckoutsettings>
            <byjunoinvoicesettings>
                <byjuno_invoice_setup>
                    <title_invoice>Byjuno invoice</title_invoice>
                </byjuno_invoice_setup>
                <byjuno_invoice_partial>
                    <name>Byjuno Invoice (with partial payment option)</name>
                    <link>http://byjuno.ch/en/terms</link>
                </byjuno_invoice_partial>
                <byjuno_single_invoice>
                    <name>Byjuno Single Invoice</name>
                    <link>http://byjuno.ch/en/terms</link>
                </byjuno_single_invoice>
                <byjuno_invoice_localization>
                    <byjuno_invoice_toc_string>T&amp;C</byjuno_invoice_toc_string>
                    <byjuno_invoice_payment_message>Please select payment option and agree to Terms and Conditions</byjuno_invoice_payment_message>
                    <byjuno_invoice_postal_text>Invoice Delivery method by Post (postage fee 3.50 CHF) to</byjuno_invoice_postal_text>
                    <byjuno_invoice_email_text>Invoice Delivery method by E-Mail (no fees) to</byjuno_invoice_email_text>
                </byjuno_invoice_localization>
            </byjunoinvoicesettings>
            <byjunoinstallmentsettings>
                <byjuno_installment_setup>
                    <title_installment>Byjuno installment</title_installment>
                    <sort_order_installment>2</sort_order_installment>
                </byjuno_installment_setup>
                <byjuno_installment_3installment>
                    <name>3 installments</name>
                    <link>http://byjuno.ch/en/terms</link>
                </byjuno_installment_3installment>
                <byjuno_installment_10installment>
                    <name>10 installments</name>
                    <link>http://byjuno.ch/en/terms</link>
                </byjuno_installment_10installment>
                <byjuno_installment_12installment>
                    <name>12 installments</name>
                    <link>http://byjuno.ch/en/terms</link>
                </byjuno_installment_12installment>
                <byjuno_installment_24installment>
                    <name>24 installments</name>
                    <link>http://byjuno.ch/en/terms</link>
                </byjuno_installment_24installment>
                <byjuno_installment_4x12installment>
                    <name>4 installments in 12 months</name>
                    <link>http://byjuno.ch/en/terms</link>
                </byjuno_installment_4x12installment>
                <byjuno_installment_localization>
                    <byjuno_installment_toc_string>CGC</byjuno_installment_toc_string>
                    <byjuno_installment_payment_message>La preghiamo di scegliere la modalità di pagamento e di accettare le condizioni generali di contratto</byjuno_installment_payment_message>
                    <byjuno_installment_postal_text>Invio fattura cartacea tramite posta (spese aggiuntive di CHF 3.50 per ogni rata) all’indirizzo</byjuno_installment_postal_text>
                    <byjuno_installment_email_text>Invio fattura tramite e-mail (senza spese aggiuntive) all’indirizzo</byjuno_installment_email_text>
                </byjuno_installment_localization>
            </byjunoinstallmentsettings>
        </english>
    </stores>
    <default>
        <payment>
            <byjuno_invoice>
                <model>InvoiceByjunoCoreFacade</model>
                <order_status>pending_byjuno</order_status>
                <title>Byjuno invoice</title>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <sort_order>1</sort_order>
                <active>1</active>
            </byjuno_invoice>
            <byjuno_installment>
                <model>InstallmentByjunoCoreFacade</model>
                <order_status>pending_byjuno</order_status>
                <title>Byjuno installment</title>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <sort_order>2</sort_order>
                <active>1</active>
            </byjuno_installment>
        </payment>
        <byjunocheckoutsettings>
            <byjuno_setup>
                <active>0</active>
                <currentmode>test</currentmode>
                <minamount>10</minamount>
                <maxamount>10000</maxamount>
                <timeout>30</timeout>
                <tmxenabled>0</tmxenabled>
                <tmxkey>lq866c5i</tmxkey>
                <businesstobusiness>0</businesstobusiness>
                <byjuno_prod_email>invoices@byjuno.ch</byjuno_prod_email>
                <byjuno_test_email>test-invoices@byjuno.ch</byjuno_test_email>
                <byjunos4transacton>0</byjunos4transacton>
                <byjunos5transacton>0</byjunos5transacton>
                <gender_birthday_enable>0</gender_birthday_enable>
                <gender_prefix>Herr;Frau</gender_prefix>
                <gender_male_possible_prefix>Herr;Mr</gender_male_possible_prefix>
                <gender_female_possible_prefix>Frau;Mrs;Ms</gender_female_possible_prefix>
                <cdpbeforeshow>0</cdpbeforeshow>
                <country_phone_validation>0</country_phone_validation>
                <force_email_end_customer>0</force_email_end_customer>
            </byjuno_setup>
            <localization>
                <byjuno_installment_paper>0</byjuno_installment_paper>
                <byjuno_installment_payments>3 Raten,10 Raten,12 Raten,24 Raten,4 Raten innerhalb von 12
                    Monaten,N/A,http://byjuno.ch/de/terms,http://byjuno.ch/en/terms,http://byjuno.ch/de/terms,http://byjuno.ch/de/terms,http://byjuno.ch/de/terms,N/A
                </byjuno_installment_payments>
                <byjuno_installment_toc_string>AGB</byjuno_installment_toc_string>
                <byjuno_installment_payment_message>Bitte wählen Sie die Zahlungsart und akzeptieren Sie die Allgemeinen
                    Geschäftsbedingungen
                </byjuno_installment_payment_message>
                <byjuno_fail_message>Der Anbieter dieser Zahlungsart hat die gewählte Bezahlmethode abgelehnt. Bitte wählen
                    Sie eine andere Zahlungsart.
                </byjuno_fail_message>
                <byjuno_installment_postal_text>Rechnungsversand in Papierform via Post (gegen Gebühr von CHF 3.50 pro Rate)
                    an
                </byjuno_installment_postal_text>
                <byjuno_installment_email_text>Rechnungsversand via E-Mail (ohne Gebühr) an</byjuno_installment_email_text>
                <byjuno_s4_fail>Das Senden der Rechnung an Byjuno ist fehlgeschlagen. Die Rechnung wurde nicht generiert.
                    Bitte versuchen Sie es erneut.
                </byjuno_s4_fail>
                <byjuno_s5_fail>Das Senden der Bestelländerung an Byjuno ist fehlgeschlagen. Storno/Rückerstattung konnte
                    nicht durchgeführt werden. Bitte versuchen Sie es erneut.
                </byjuno_s5_fail>
                <postal_code_wrong>Die PLZ der Rechnungsadresse ist fehlerhaft</postal_code_wrong>
                <telephone_code_wrong>Die Telefonnummer der Rechnungsadresse ist fehlerhaft</telephone_code_wrong>
            </localization>
        </byjunocheckoutsettings>
        <byjunoinvoicesettings>
            <byjuno_invoice_setup>
                <title_invoice>Byjuno Rechnung</title_invoice>
                <sort_order_invoice>2</sort_order_invoice>
                <byjuno_invoice_paper>0</byjuno_invoice_paper>
            </byjuno_invoice_setup>
            <byjuno_invoice_partial>
                <active>0</active>
                <name>Byjuno Rechnung mit Teilzahlungsoption</name>
                <link>http://byjuno.ch/de/terms</link>
            </byjuno_invoice_partial>
            <byjuno_single_invoice>
                <active>0</active>
                <name>Byjuno Einmalrechnung</name>
                <link>http://byjuno.ch/de/terms</link>
            </byjuno_single_invoice>
            <byjuno_invoice_localization>
                <byjuno_invoice_toc_string>AGB</byjuno_invoice_toc_string>
                <byjuno_invoice_payment_message>Bitte wählen Sie die Zahlungsart und akzeptieren Sie die Allgemeinen Geschäftsbedingungen</byjuno_invoice_payment_message>
                <byjuno_invoice_postal_text>Rechnungsversand in Papierform via Post  (gegen Gebühr von CHF 3.50) an</byjuno_invoice_postal_text>
                <byjuno_invoice_email_text>Rechnungsversand via E-Mail (ohne Gebühr) an</byjuno_invoice_email_text>
            </byjuno_invoice_localization>
        </byjunoinvoicesettings>
        <byjunoinstallmentsettings>
            <byjuno_installment_setup>
                <title_installment>Byjuno Ratenzahlung</title_installment>
                <sort_order_installment>2</sort_order_installment>
            </byjuno_installment_setup>
            <byjuno_installment_3installment>
                <active>0</active>
                <name>3 Raten</name>
                <link>http://byjuno.ch/de/terms</link>
            </byjuno_installment_3installment>
            <byjuno_installment_10installment>
                <active>0</active>
                <name>10 Raten</name>
                <link>http://byjuno.ch/de/terms</link>
            </byjuno_installment_10installment>
            <byjuno_installment_12installment>
                <active>0</active>
                <name>12 Raten</name>
                <link>http://byjuno.ch/de/terms</link>
            </byjuno_installment_12installment>
            <byjuno_installment_24installment>
                <active>0</active>
                <name>24 Raten</name>
                <link>http://byjuno.ch/de/terms</link>
            </byjuno_installment_24installment>
            <byjuno_installment_4x12installment>
                <active>0</active>
                <name>4 Raten innerhalb von 12 Monaten</name>
                <link>http://byjuno.ch/de/terms</link>
            </byjuno_installment_4x12installment>
            <byjuno_installment_localization>
                <byjuno_installment_toc_string>AGB</byjuno_installment_toc_string>
                <byjuno_installment_payment_message>Bitte wählen Sie die Zahlungsart und akzeptieren Sie die Allgemeinen
                    Geschäftsbedingungen
                </byjuno_installment_payment_message>
                <byjuno_installment_postal_text>Rechnungsversand in Papierform via Post (gegen Gebühr von CHF 3.50) an
                </byjuno_installment_postal_text>
                <byjuno_installment_email_text>Rechnungsversand via E-Mail (ohne Gebühr) an</byjuno_installment_email_text>
            </byjuno_installment_localization>
        </byjunoinstallmentsettings>
    </default>
</config>
