<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment Method Facade configuration -->
    <virtualType name="ByjunoCoreFacade" type="Byjuno\ByjunoCore\Model\Invoice">
        <arguments>
            <argument name="code" xsi:type="const">\Byjuno\ByjunoCore\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Byjuno\ByjunoCore\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">ByjunoCoreValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">ByjunoCoreCommandPool</argument>
        </arguments>
    </virtualType>


    <!-- Configuration reader -->
    <virtualType name="ByjunoCoreConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\Byjuno\ByjunoCore\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Commands infrastructure -->
    <virtualType name="ByjunoCoreCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">ByjunoCoreAuthorizeCommand</item>
                <item name="capture" xsi:type="string">ByjunoCoreCaptureCommand</item>
                <item name="void" xsi:type="string">ByjunoCoreVoidCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Authorize command -->
    <virtualType name="ByjunoCoreAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">ByjunoCoreAuthorizationRequest</argument>
            <argument name="handler" xsi:type="object">ByjunoCoreResponseHandlerComposite</argument>
            <argument name="transferFactory" xsi:type="object">Byjuno\ByjunoCore\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Byjuno\ByjunoCore\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Authorization Request -->
    <virtualType name="ByjunoCoreAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">Byjuno\ByjunoCore\Gateway\Request\AuthorizationRequest</item>
                <item name="mockData" xsi:type="string">Byjuno\ByjunoCore\Gateway\Request\MockDataRequest</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Byjuno\ByjunoCore\Gateway\Request\AuthorizationRequest">
        <arguments>
            <argument name="config" xsi:type="object">ByjunoCoreConfig</argument>
        </arguments>
    </type>

    <!-- Capture command -->
    <virtualType name="ByjunoCoreCaptureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Byjuno\ByjunoCore\Gateway\Request\CaptureRequest</argument>
            <argument name="handler" xsi:type="object">Byjuno\ByjunoCore\Gateway\Response\TxnIdHandler</argument>
            <argument name="transferFactory" xsi:type="object">Byjuno\ByjunoCore\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">Byjuno\ByjunoCore\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">Byjuno\ByjunoCore\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Capture Request -->
    <type name="Byjuno\ByjunoCore\Gateway\Request\CaptureRequest">
        <arguments>
            <argument name="config" xsi:type="object">ByjunoCoreConfig</argument>
        </arguments>
    </type>

    <!-- Void command -->
    <virtualType name="ByjunoCoreVoidCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Byjuno\ByjunoCore\Gateway\Request\VoidRequest</argument>
            <argument name="handler" xsi:type="object">Byjuno\ByjunoCore\Gateway\Response\TxnIdHandler</argument>
            <argument name="transferFactory" xsi:type="object">Byjuno\ByjunoCore\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">Byjuno\ByjunoCore\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">Byjuno\ByjunoCore\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Void Request -->
    <type name="Byjuno\ByjunoCore\Gateway\Request\VoidRequest">
        <arguments>
            <argument name="config" xsi:type="object">ByjunoCoreConfig</argument>
        </arguments>
    </type>

    <!-- Response handlers -->
    <virtualType name="ByjunoCoreResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="txnid" xsi:type="string">Byjuno\ByjunoCore\Gateway\Response\TxnIdHandler</item>
                <item name="fraud" xsi:type="string">Byjuno\ByjunoCore\Gateway\Response\FraudHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="ByjunoCoreValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">ByjunoCoreConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="ByjunoCoreConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">ByjunoCoreConfig</argument>
        </arguments>
    </virtualType>

    <type name="Byjuno\ByjunoCore\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">ByjunoCoreConfig</argument>
        </arguments>
    </type>

</config>
