<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Sales\Model\Order\Invoice" type="Byjuno\ByjunoCore\Model\Invoicebyjunooverride" />
    <!-- Payment Method Facade configuration -->
    <virtualType name="InvoiceByjunoCoreFacade" type="Byjuno\ByjunoCore\Model\Invoice">
        <arguments>
            <argument name="code" xsi:type="const">Byjuno\ByjunoCore\Model\Ui\ConfigProvider::CODE_INVOICE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Byjuno\ByjunoCore\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">InvoiceByjunoCoreValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">InvoiceByjunoCoreCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="InvoiceByjunoCoreConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Byjuno\ByjunoCore\Model\Ui\ConfigProvider::CODE_INVOICE</argument>
        </arguments>
    </virtualType>

    <!-- Commands infrastructure -->
    <virtualType name="InvoiceByjunoCoreCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">InvoiceByjunoCoreAuthorizeCommand</item>
                <item name="capture" xsi:type="string">InvoiceByjunoCoreCaptureCommand</item>
                <item name="void" xsi:type="string">InvoiceByjunoCoreVoidCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Authorize command -->
    <virtualType name="InvoiceByjunoCoreAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand"></virtualType>
	
    <type name="Byjuno\ByjunoCore\Gateway\Request\AuthorizationRequest">
        <arguments>
            <argument name="config" xsi:type="object">InvoiceByjunoCoreConfig</argument>
        </arguments>
    </type>

    <!-- Capture command -->
    <virtualType name="InvoiceByjunoCoreCaptureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand"></virtualType>

    <!-- Capture Request -->
    <type name="Byjuno\ByjunoCore\Gateway\Request\CaptureRequest">
        <arguments>
            <argument name="config" xsi:type="object">InvoiceByjunoCoreConfig</argument>
        </arguments>
    </type>

    <!-- Void command -->
    <virtualType name="InvoiceByjunoCoreVoidCommand" type="Magento\Payment\Gateway\Command\GatewayCommand"></virtualType>

    <!-- Void Request -->
    <type name="Byjuno\ByjunoCore\Gateway\Request\VoidRequest">
        <arguments>
            <argument name="config" xsi:type="object">InvoiceByjunoCoreConfig</argument>
        </arguments>
    </type>

    <!-- Value handlers infrastructure -->
    <virtualType name="InvoiceByjunoCoreValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">InvoiceByjunoCoreConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="InvoiceByjunoCoreConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">InvoiceByjunoCoreConfig</argument>
        </arguments>
    </virtualType>

    <type name="Byjuno\ByjunoCore\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">InvoiceByjunoCoreConfig</argument>
        </arguments>
    </type>

    <virtualType name="InstallmentByjunoCoreFacade" type="Byjuno\ByjunoCore\Model\Installment">
        <arguments>
            <argument name="code" xsi:type="const">Byjuno\ByjunoCore\Model\Ui\ConfigProvider::CODE_INSTALLMENT</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Byjuno\ByjunoCore\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">InstallmentByjunoCoreValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">InstallmentByjunoCoreCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="InstallmentByjunoCoreConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Byjuno\ByjunoCore\Model\Ui\ConfigProvider::CODE_INSTALLMENT</argument>
        </arguments>
    </virtualType>

    <!-- Commands infrastructure -->
    <virtualType name="InstallmentByjunoCoreCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">InstallmentByjunoCoreAuthorizeCommand</item>
                <item name="capture" xsi:type="string">InstallmentByjunoCoreCaptureCommand</item>
                <item name="void" xsi:type="string">InstallmentByjunoCoreVoidCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Authorize command -->
    <virtualType name="InstallmentByjunoCoreAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand"></virtualType>

    <!-- Authorization Request -->
    <virtualType name="InstallmentByjunoCoreAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">Byjuno\ByjunoCore\Gateway\Request\AuthorizationRequest</item>
                <item name="mockData" xsi:type="string">Byjuno\ByjunoCore\Gateway\Request\MockDataRequest</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Byjuno\ByjunoCore\Gateway\Request\AuthorizationRequest">
        <arguments>
            <argument name="config" xsi:type="object">InstallmentByjunoCoreConfig</argument>
        </arguments>
    </type>

    <!-- Capture command -->
    <virtualType name="InstallmentByjunoCoreCaptureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand"></virtualType>

    <!-- Capture Request -->
    <type name="Byjuno\ByjunoCore\Gateway\Request\CaptureRequest">
        <arguments>
            <argument name="config" xsi:type="object">InstallmentByjunoCoreConfig</argument>
        </arguments>
    </type>

    <!-- Void command -->
    <virtualType name="InstallmentByjunoCoreVoidCommand" type="Magento\Payment\Gateway\Command\GatewayCommand"></virtualType>

    <!-- Void Request -->
    <type name="Byjuno\ByjunoCore\Gateway\Request\VoidRequest">
        <arguments>
            <argument name="config" xsi:type="object">InstallmentByjunoCoreConfig</argument>
        </arguments>
    </type>

    <!-- Value handlers infrastructure -->
    <virtualType name="InstallmentByjunoCoreValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">InstallmentByjunoCoreConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="InstallmentByjunoCoreConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">InstallmentByjunoCoreConfig</argument>
        </arguments>
    </virtualType>

    <type name="Byjuno\ByjunoCore\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">InstallmentByjunoCoreConfig</argument>
        </arguments>
    </type>

</config>
