<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label class="label" data-bind="attr: {'for': getCode()}">
            <img data-bind="attr: {src: getLogo()}" style="width: 66px; height: 39px; vertical-align: middle"/>&nbsp;<span data-bind="text: getTitle()"></span>
        </label>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="field required">
            <label data-bind="attr: {for: getCode() + '_payment_plan'}" class="label">
                <b style="font-size: 16px"><!-- ko i18n: 'Select payment plan'--><!-- /ko --></b>
            </label>
            <div class="control" style="margin: 8px 0 0 0">
                <div data-bind="foreach: getPaymentPlans()" >
                    <label>
                        <input type="radio"
                               name="payment[invoice_payment_plan]"
                               data-bind="
                                  attr: {value: value},
                                  checked: $parent.paymentPlan" />
                        <span data-bind="text: label"></span>
                        <a data-bind="attr: {href: link, target: '_blank'}, text: $t('(T&C)')"></a>
                    </label><br />
                </div>
            </div>
        </div>
        <br />
        <div class="field required">
            <label data-bind="attr: {for: getCode() + '_payment_delivery'}" class="label">
                <b style="font-size: 16px"><!-- ko i18n: 'Select invoice delivery method'--><!-- /ko --></b>
            </label>
            <div class="control" style="margin: 8px 0 0 0">
                <div data-bind="foreach: getDeliveryPlans()" >
                    <label>
                        <input type="radio"
                               name="payment[invoice_send]"
                               data-bind="
                                  attr: {value: value},
                                  checked: $parent.deliveryPlan" />
                        <span data-bind="text: label"></span>
                    </label><br />
                </div>
            </div>
        </div>
        <br />
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order'), disabled: (getBillingAddress() == null) ? 'disabled' : null }
                        ">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
