#row_icecore_settings_manual .note,
#row_icecore_advanced_settings_manual .note {
    width: 310px;
}

#row_icecore_settings_manual .btn-manual,
#row_icecore_settings_manual .btn-movie,
#row_icecore_advanced_settings_manual .btn-manual,
#row_icecore_advanced_settings_manual .btn-movie {
    display: inline-block;
    background-image: url("images/button-manual.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 0px 0px;
    width: 150px;
    height: 50px;
    float: left;
    margin-right: 4px;
}
#row_icecore_settings_manual .btn-movie,
#row_icecore_advanced_settings_manual .btn-movie {
    background-image: url("images/button-movie.png");
}
.a-right {
    text-align: right;
}
table.icepaypaymentmethods  {
    border: 1px solid #878787;
}
table.icepaypaymentmethods tr td {
    padding: 4px !important;
}